/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --page-bg-image: url("../images/cover-image-dark.png");
  --theme-status-display: inline-block;
  --button-hover-color: #FF007066;
  --header-border-color: #FF0070;
  --header-button-color: #FF0070;
  --font-title-color:#DB00FF;
  --font-shadow-color:#FF0070;
  --header-description-block-color:#FF0070;
  --description-text-color: #000028;
  --question-title-color:#FF0070;
  --answer-bg-color: #FF0070;
  --answer-title-color: #000028;
  --answer-text-color: #F1B2CE;
  --page-bg-color: #000028;
}