/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --page-bg-image: url("../images/cover-image-light.png");
  --theme-status-display: none;
  --margin-dark-theme: 0;
  --button-hover-color: #32312d66;
  --header-border-color: #353430;
  --header-button-color: #353430;
  --font-title-color: #ffc2e6;
  --font-shadow-color: #ff8dcb;
  --header-description-block-color: #ff8dcb;
  --description-text-color: #353430;
  --question-title-color: #353430;
  --answer-bg-color: #ff8dcb;
  --answer-title-color: #353430;
  --answer-text-color: #353430;
  --page-bg-color: #fff1f7;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-image: url("../images/cover-image-light.png");
    --theme-status-display: none;
    --button-hover-color: #32312d66;
    --margin-dark-theme: 0;
    --header-border-color: #353430;
    --header-button-color: #353430;
    --font-title-color: #ffc2e6;
    --font-shadow-color: #ff8dcb;
    --header-description-block-color: #ff8dcb;
    --description-text-color: #353430;
    --question-title-color: #353430;
    --answer-bg-color: #ff8dcb;
    --answer-title-color: #353430;
    --answer-text-color: #353430;
    --page-bg-color: #fff1f7;
  }
}
