/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --page-bg-image: url("../images/cover-image-light.png");
  --header-border-color: #353430;
  --header-button-color: #353430;
  --font-title-color: #FFC2E6;
  --font-title-shadow-color: #FF8DCB;
  --header-description-block-color:#FF8DCB;
  --description-text-color: #353430;
  --question-title-color:#353430;
  --answer-bg-color:#FF8DCB;
  --answer-title-color:#353430;
  --answer-text-color: #353430;
}
