:root {
  --page-bg-image: url("../images/cover-image-dark.png");
  --header-border-color: #ff0070;
  --header-button-color: #ff0070;
  --font-title-color: #db00ff;
  --font-title-shadow-color: #ff0070;
  --header-description-block-color: #ff0070;
  --description-text-color: #000028;
  --question-title-color: #ff0070;
  --answer-bg-color: #ff0070;
  --answer-title-color: #000028;
  --answer-text-color: #f1b2ce;
  --page-bg-color: #000028;

  --page-gap: 40px;
  --page-padding: 10px;
  --theme-menu-direction: column;
  --theme-menu-align: end;
  --theme-menu-justify: end;
  --header-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --header-description-block-size: 100%;
  --main-block-gap: 50px;
  --picture-block-gap: 10px;
  --theme-menu-list-direction: column;
  --theme-menu-list-align: end;
  --header-title-margin: 0;
  --menu-margin: 10px;
  --header-description-margin: 0px;
  --block-how-to-margin: 0;
}

@media (width >= 700px) {
  :root {
    --page-padding: 20px;
    --header-description-block-size: 50%;
    --main-block-gap: 80px;
    --picture-block-gap: 20px;
    --page-gap: 60px;
    --header-title-margin: -20px;
    --menu-margin: 20px;
    --header-description-margin: 10px;
    --block-how-to-margin: 10px;
  }
}

@media (width >= 1000px) {
  :root {
    --theme-menu-align: center;
    --theme-menu-justify: start;
    --theme-menu-list-direction: row;
    --header-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --header-title-size: 9.8125rem;
    --menu-margin: 0;
    --header-description-margin: 20px;
    --block-how-to-margin: 0;
  }
}
